<h1>こんにちは</h1>
<p><%= @titile %></p>
<p><%= @message %></p>

<br />
<p><%= link_to "STEP SATO", "/lesson/step1/sato" %></p>

<% if @pref.present? %>
	<% @pref.each do |pref| %>
		<p><%= link_to pref.pref_name, member_path(pref.id) %> </p>
		<p><%= pref.pref_name%> </p>
			<% if @prefdetail.present? %>
				<% @prefdetail.each do |prefdetail| %>
					<p><%= prefdetail.prefdetails_name%> </p>
				<% end %>
			<% else %>
				<p>none</p>
			<% end %>

	<% end %>
<% else %>
	<p>none</p>
<% end %>
<% if @test.present? %>
	<p>susecss</p>
<% end %>
