<div id="gHeader">
	<% if request.smart_phone? %>
		<%= javascript_include_tag 'sp_header' %>
		<div id="spHd">
			<div id ="spHeader">
				<%= link_to '/' do %>
					<%= image_tag('sp/sp_icon.png',:id => 'spHeaderIco', :alt => 'tabilist.jp') %>
					<p>レコメンド旅行プランサイト<br />
						<span id="hTitle">tabilist</span>
					</p>
				<% end %>
				<%= image_tag('sp/icon_search.png' ,:id => 'spSearch', :alt => '都道府県からプランを探す') %>	
			</div>
		</div>
		<div id="hSearchPref">
			<%= image_tag('sp/x_ico.png',:id => 'hClose', :alt => '閉じる') %>
			<p id="hSearchTitle">
				プランをさがす
			</p>
			<ul class="clearfix">
				<%= link_to '/search/1' do %>
					<li class="blueBtn">北海道<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/13' do %>
					<li class="blueBtn">東京<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/23' do %>
					<li class="blueBtn">愛知<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/26' do %>
					<li class="blueBtn">京都<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/32' do %>
					<li class="blueBtn">島根<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/40' do %>
					<li class="blueBtn">福岡<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/43' do %>
					<li class="blueBtn">熊本<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/46' do %>
					<li class="blueBtn">鹿児島<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
			</ul>
		</div>
	<%else%>
		<div id="pcHeader">
			<%= link_to '/' do %>
				<%= image_tag('sp/sp_icon.png',:id => 'HeaderIco', :alt => 'tabilist.jp') %>
				<p>レコメンド旅行プランサイト<br />
					<span id="hTitle">tabilist</span>
				</p>
			<% end %>
		</div>
	<%end%>
</div>
