<div id="gHeader">
	<% if request.smart_phone? %>
		<%= javascript_include_tag 'sp_header' %>
		<div id="spHd">
			<div id ="spHeader">
				<%= link_to '/' do %>
					<%= image_tag('sp/sp_icon.png',:id => 'spHeaderIco', :alt => 'tabilist.jp') %>
					<p>レコメンド旅行プランサイト<br />
						<span id="hTitle">tabilist</span>
					</p>
				<% end %>
				<%= image_tag('sp/icon_search.png' ,:id => 'spSearch', :alt => '都道府県からプランを探す') %>	
			</div>
		</div>
		<div id="hSearchPref">
			<%= image_tag('sp/x_ico.png',:id => 'hClose', :alt => '閉じる') %>
			<p id="hSearchTitle">
				プランをさがす
			</p>
			<ul class="clearfix">
				<%= link_to '/search/1' do %>
					<li class="blueBtn">北海道<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">宮城<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">石川<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">東京<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">神奈川<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">愛知<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">大阪<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">京都<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">兵庫<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">福岡<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">鹿児島<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>
				<%= link_to '/search/1' do %>
					<li class="blueBtn">沖縄<%= image_tag('sp/sp_arrow.png' ,:class => 'Arrow', :alt => '矢印') %></li>
				<% end %>

			<ul>
		</div>
	<%else%>
		<%= link_to_unless_current image_tag('header.png' ,:width => '100%',:id => 'header', :alt => 'tabilist.jp'), '/' %>
	<%end%>
</div>
